   table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 20px;
    }
    th, td {
      padding: 8px;
      border: 1px solid #ccc;
    }
.register-user{
  background-color: white;
}
.nav{
  display: flex;
  background-color: white;
  width: 80%;
  height: 7vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2%;
  border-radius:6px;
  gap:2%
}

.nav a{
  text-decoration: none;
}
#registerForm {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}
.register-user{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    border-radius: 6px;
    transition: 0.2s ease;
    background-color: var(--green);
    color: white;
  }
  .register-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  .register-user h1{
    text-align: center;
  }

  .register-form input{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
  }

  .register-form select{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .btn-place{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
      margin: 0 auto;
    margin-bottom: 8%;
      gap:6px;
    width: 80%;
  }
  .btn-place button {
    height: 30px;
    width: 100%;
    border: none;
  }
  #save_user{
    background-color: var(--green);
    color: white;
  }
  
  .Kategori h1{
    text-align: center;
  }
/* When active (visible) */
#registerForm.active {
  max-height: 500px; /* Set this high enough to show the full form */
}
.register-user.bg-toggled {
  background-color: white;
  color: black; /* Or whatever color you want */
}
@media screen and (max-width:768px){
  .register-user{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    border-radius: 6px;
    transition: 0.2s ease;
    background-color: var(--green);
    color: white;
  }
  .register-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  .register-user h1{
    text-align: center;
  }

  .register-form input{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
  }

  .register-form select{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .btn-place{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
      margin: 0 auto;
    margin-bottom: 8%;
      gap:6px;
    width: 80%;
  }
  .btn-place button {
    height: 30px;
    width: 100%;
    border: none;
  }
  #save_user{
    background-color: var(--green);
    color: white;
  }
  
  .Kategori h1{
    text-align: center;
  }
}